<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>

    <style>
        table, th, td {
            vertical-align: middle;
            border: solid 1px black;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>
<div>
    <h4 th:text="#{hell0} + ', ' + ${user.firstName} + ', ' + #{order.greeting}"></h4>
    <h4 th:text="#{order.details}"></h4>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{products}">Products</th>
            <th th:text="#{label.quantity}">Quantity</th>
            <th th:text="#{total.price}">Total price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iterCount: ${products}">
            <th th:text="${iterCount.count}"></th>
            <td>
                <span th:text="${@productLanguageSwitcher.defineLanguageOf(product.name)}"></span>
            </td>
            <td>
                <span th:text="${productIdAndCount.get(product.id)}"></span>
            </td>
            <td>
                <span th:text="${@priceCalculator.multiply(product.getPriceUA(), productIdAndCount.get(product.id))} +
                ' ' + #{currency}" th:if="${#locale.getLanguage() == 'ukr'}"/>
                <span th:text="${@priceCalculator.multiply(product.getPriceEU(), productIdAndCount.get(product.id))} +
                ' ' + #{currency}" th:if="${#locale.getLanguage() == 'en'}"/>
            </td>
        </tr>
        <tr>
            <td colspan="3" th:text="#{total.all}" style="text-align: right">Total:</td>
            <td th:text="${@priceCalculator.summarizeAll(productIdAndCount)}  + ' '  + #{currency}"></td>
        </tr>
        </tbody>
    </table>

    <h4 th:text="#{address.delivery}">Address of delivery</h4>
    <table>
        <tr>
            <td th:text="#{country}">Country</td>
            <td th:text="${address.country}">User country</td>
        </tr>
        <tr>
            <td th:text="#{city}">City</td>
            <td th:text="${address.city}">User city</td>
        </tr>
        <tr>
            <td th:text="#{region}">City</td>
            <td th:text="${address.region}">User region</td>
        </tr>
        <tr>
            <td>Zip</td>
            <td th:text="${address.zipCode}">User zipCode</td>
        </tr>
        <tr>
            <td th:text="#{post}">Post Operator</td>
            <td th:text="${address.operatorName}">User Post Operator</td>
        </tr>
        <tr>
            <td th:text="#{post.depart.number}">Number of department</td>
            <td th:text="${address.numberOfDepartment}">User Number of department</td>
        </tr>
        <tr>
            <td th:text="#{delivery.details}">Delivery details (optional)</td>
            <td>
                <textarea rows="3" th:text="${address.deliveryDetails}" disabled> User Delivery details</textarea>
            </td>
        </tr>
    </table>
    <p th:text="#{order.complete.info.2}"></p>
    <p>
        <span th:text="#{best.regards}">Best Regards,</span><br/>
        <em th:text="#{tea.team}">your NotkaTea Team</em>
    </p>
</div>
</body>
</html>