<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{reset.password.email.0}">NotkaTea reset password notification</title>
</head>
<body>
<div style="text-align: -webkit-left">
    <h3> <span th:text="#{hell0} + ' ' + ${user.userName} + #{reset.password.email.1}">
        Hello %s, you've just requested a password reset for email:</span><br/>
        <span th:text="${user.email}"> user email</span> <br/>
    </h3>
    <h4>
        <span th:text="#{reset.password.email.2} + ' '">Just click here on a</span>
        <span><a href="#" th:href="${link}" th:text="#{password.reset.link}">Password Reset Link</a></span><br/>
        <span th:text="#{reset.password.email.3}">to change your password.</span><br/>
        <span th:text="#{reset.password.email.4} + ' ' + ${timeToLive} + ' ' + #{reset.password.email.5}">
            Please note, the above link is only valid for %d minutes.</span>
    </h4>
    <h4 th:text="#{reset.password.email.6}">
        If you didn't request a password reset, just ignore this letter.
    </h4>

    <h4><i><span th:text="#{register.email.6}">Best regards,</span><br/>
        <span th:text="#{register.email.7}">your NotkaTea Team</span></i></h4>
</div>
</body>
</html>