<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="modal-logout">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{images/logo-notka.jpg}" height="30" width="auto" class="rounded me-2" alt="...">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight: bold; color: #ef5757"
                th:text="#{alert}">Alert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="#{logout.warning}">
                You have items in your cart.
                After logout the cart with chosen items won't be saved.
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}">Cancel</a>
                <a type="button" class="btn btn-primary" th:href="@{/logout}" th:text="#{logout.anyway}">Logout any way</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>