<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal for header when logout-->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="modal-logout">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{images/logo-notka.jpg}" height="30" width="auto" class="rounded me-2" alt="...">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight: bold; color: #ef5757"
                    th:text="#{alert}">Alert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="#{logout.warning}">
                You have items in your cart.
                After logout the cart with chosen items won't be saved.
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}">Cancel</a>
                <a type="button" class="btn btn-primary" th:href="@{/logout}" th:text="#{logout.anyway}">Logout any
                    way</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal for header when logout-->

<!-- Modal for complete order-->
<div class="modal fade" id="modalOrder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" th:fragment="modal-order-complete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{images/logo-notka.jpg}" height="30" width="auto" class="rounded me-2" alt="...">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight: bold; color: #ef5757">
                    NotkaTea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span th:text="#{order.complete.info.1}"></span> <br/>
                <span th:text="#{order.complete.info.2}"></span> <br/>
                <span th:text="#{order.complete.info.3}"></span> <br/>
                <span th:text="#{order.complete.info.4}"></span> <br/>
                <span th:text="#{order.complete.info.5}"></span> <br/>
                <span th:text="#{order.complete.info.6}"></span>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" data-bs-dismiss="modal"
                   th:text="#{go.home}">Go home</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal for complete order-->

<!-- Modal when user has no any orders-->
<div class="modal fade" id="noOrdersModal" tabindex="-1" aria-labelledby="noOrderModalLabel"
     aria-hidden="true" th:fragment="modal-no-orders">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{images/logo-notka.jpg}" height="30" width="auto" class="rounded me-2" alt="...">
                <h1 class="modal-title fs-5" id="noOrderModalLabel" style="font-weight: bold; color: #ef5757"
                    th:text="#{info}">Info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" disabled></button>
            </div>
            <div class="modal-body" th:text="#{modal.no-orders}">
                You have no orders at this moment. Why wouldn't you start the first one? :)
            </div>
            <div class="modal-footer">
               <span>
                   <a type="button" class="btn btn-primary" th:href="@{/}"
                      th:text="#{go.home}">Go To The Home Page</a>&nbsp;
                   <a type="button" class="btn btn-success" th:href="@{/showAllProductsForSale}"
                      th:text="#{go.toProducts}">Look at some products</a>
               </span>
            </div>
        </div>
    </div>
</div>
<!-- Modal when user has no any orders-->

<!-- Modal when loading all products from google drive-->
<div class="modal fade" id="loadAllProductsModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="modal-load-products-from-google-drive">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{images/logo-notka.jpg}" height="30" width="auto" class="rounded me-2" alt="...">
                <h1 class="modal-title fs-5" id="loadAllProductsModalLabel" style="font-weight: bold; color: #ef5757"
                    th:text="#{alert}">Alert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="#{load.warning}">
                You are going to load all products from Google Drive.
                Before loading all current data in database will be erased
                and new one will be loaded from Google Drive afterwards.
                Are you sure you want to continue?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}">Cancel</a>
                <a type="button" class="btn btn-primary" th:href="@{/load}" th:text="#{load.anyway}">Load any
                    way</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal when loading all products from google drive-->

<!-- Modal when no search results-->
<div class="modal fade" id="noSearchResults" tabindex="-1" aria-labelledby="noSearchResultsLabel"
     aria-hidden="true" th:fragment="modal-no-search-results">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{images/logo-notka.jpg}" height="30" width="auto" class="rounded me-2" alt="...">
                <h1 class="modal-title fs-5" id="noSearchResultsLabel" style="font-weight: bold; color: #ef5757"
                    th:text="#{info}">Info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="#{modal.no-search-results}">
                No Results... Try again.
            </div>
            <div class="modal-footer">
               <span>
                   <a type="button" class="btn btn-primary" th:href="@{/}" th:text="#{go.home}">Go To The Home Page</a>&nbsp;
                   <a type="button" class="btn btn-success" data-bs-dismiss="modal"
                      th:text="#{go.toProducts}">Look at some products</a>
               </span>
            </div>
        </div>
    </div>
</div>
<!-- Modal when no search results-->

</body>
</html>