<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quantity for products</title>
</head>
<body th:fragment="product-quantity">
<div class="quantity buttons_added">
    <input type="button" value="-" class="minus">
    <input type="number" step="1" min="1" max="" name="quantity" value="1"
           title="Qty" class="input-text qty text" size="4" pattern=""
           inputmode="">
    <input type="button" value="+" class="plus">
</div>
</body>
</html>