<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Products</title>
    <style>
        table, th, td {
            border: solid 1px black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
<p data-th-text="#{label.chooseLang}">Choose language</p>
<div>
    <a href="/teashop/allproducts?lang=en" th:text="#{label.lang.en}">English</a>&nbsp;&nbsp;&nbsp;
    <a href="/teashop/allproducts?lang=ukr" th:text="#{label.lang.ukr}">Ukrainian</a>
</div>
<br/><br/>
<table>
    <tr>
        <th th:text="#{label.name}">name</th>
        <th th:text="#{label.description}">description</th>
        <th th:text="#{label.price}">price</th>
    </tr>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"/>
        <td th:text="${product.description}"/>
        <td th:text="${product.price}"/>
    </tr>
</table>
<br/><br/>
<div>
    <a href="/teashop/product" th:text="#{add.product}"></a>&nbsp;&nbsp;&nbsp;
    <a href="/teashop/" th:text="#{back.to.main.page}"></a>
</div>
</body>
</html>