<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-sm" style="border: solid 1px black; border-collapse: collapse">
    <h2 th:text="#{renew.link.form}">Renew Link Form:</h2>
    <div class="row mt-2">
        <div th:if="${param.success}" class=" alert alert-info" th:text="#{renew.link.successful} + ' '">
            The link is successfully sent, please check your email to complete your registration.
        </div>

        <div th:if="${param.invalid}" class="col-sm-8">
            <p class="alert alert-info alert-dismissible" th:text="#{email.verified.failure}">
                Email is wrong or the user with such email is already activated</p>
        </div>
    </div>
    <form action="#" th:action="@{/renew}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="username" th:text="#{user.email}"></label>
            <input type="text" id="username" name="username" class="form-control mb-4 col-4" th:field="*{email}"
                   required>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{email.renew.link}">Renew Link</button>
    </form>
</div>
</body>
</html>