<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <style>
        .card {
            --bs-card-bg: rgba(44, 50, 57, 0.7);
        }

        .col {
            max-width: 500px;
        }

        .row {
            --bs-gutter-y: 1.5rem;
            margin-top: calc(1 * var(--bs-gutter-y));
        }

        .backgroundImage::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body class="main_body" data-bs-theme="dark">
<!-- Header -->
<div th:replace="~{utils/header :: header-home}"></div>
<!-- Header -->

<!-- Modal for header when logout-->
<div th:replace="~{utils/modals :: modal-logout}"></div>
<!-- Modal for header when logout-->

<!-- Modal for complete order-->
<div th:replace="~{utils/modals :: modal-order-complete}"></div>
<!-- Modal for complete order-->
<div class="backgroundImage" th:style="'background-image:url(' + @{/images/background-welcome.jpg} + ');' +
'position: relative; height: 100vh; width: 100%; display: flex; align-items: top; justify-content: center;' +
'background-size: cover;'">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div class="col">
            <div class="card">
                <form action="#" th:action="@{'/applyFilters?jam=on'}" method="post">
                    <button type="submit">
                        <img th:src="@{'/images/main/jam_group.jpg'}" class="img-fluid" alt="JAMS">
                    </button>
                </form>
                <div class="card-body">
                    <h5 class="card-title" th:text="#{jams}">Jams</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <form action="#" th:action="@{'/applyFilters?tea=on'}" method="post">
                    <button type="submit">
                        <img th:src="@{'/images/main/tea_group.jpg'}" class="img-fluid" alt="TEA">
                    </button>
                </form>
                <div class="card-body">
                    <h5 class="card-title" th:text="#{tea}">Tea</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <form action="#" th:action="@{'/applyFilters?mushroom=on'}" method="post">
                    <button type="submit">
                        <img th:src="@{'/images/main/mushroom_group.jpg'}" class="img-fluid" alt="MUSHROOMS">
                    </button>
                </form>
                <div class="card-body">
                    <h5 class="card-title" th:text="#{mushrooms}">Mushrooms</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" th:if="${param.successOrderCompletion}">
    let myModal = new bootstrap.Modal(document.getElementById('modalOrder'), {});
    myModal.show();
</script>
</body>
</html>